.lg-bg-gray {
    background-color: #bbb;
}
.lg-bg-red {
    background-color: #e74c3c;
}
.lg-bg-orange {
    background-color: #e67e22;
}
.lg-bg-yellow {
    background-color: #f1c40f;
}
.lg-bg-green {
    background-color: #5eb95e;
}
.lg-bg-bluelight {
    background-color: #3498db;
}
.lg-bg-purple {
    background-color: #8e44ad;
}
.lg-bg-bluedark {
    background-color: #2E468C;
}